/* Error: Missing argument $channels.
 *   ,--> main.scss
 * 286|       overflow-style: color(rgb());
 *   |                             ^^^^^ invocation
 *   '
 *   ,
 * 1 | @function rgb($channels) {
 *   |           ============== declaration
 *   '
 *   main.scss 286:29  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $channels.\a   \250c \2500 \2500 > main.scss\a 286\2502        overflow-style: color(rgb());\a   \2502                              ^^^^^ invocation\a   \2575 \a   \2577 \a 1 \2502  @function rgb($channels) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   main.scss 286:29  root stylesheet";
}
